.idea
*.iml
.DS_Store
build/

# rust
target/
Cargo.lock
*.pdb
config.toml

# Test artifacts
test-coverage.out
test-coverage-cobertura.xml
test-coverage.html
gosec_report.json
.trivycache/
/test-nodes/
rootchain/consensus/zkverifier/rsmt/testdata/

*.log

go.work
go.work.sum
